<div class="container">
  <p class="consultation-p">აირჩიე კონსულტაციის ტიპი</p>
  <div>
    <div class="input-group">
      <!-- <div class="input-group-item">
        <i class="fa fa-phone" style="font-size: 16px"></i>
      </div> -->
      <app-input
        class="consultation-input"
        name="group1"
        label3="სატელოფონო კონსულტაცია"
      ></app-input>
    </div>
    <div class="input-group">
      <!-- <div class="input-group-item">
        <i class="fa fa-plus" style="font-size: 16px"></i>
      </div> -->
      <app-input
        class="consultation-input"
        name="group1"
        label3="ვიზიტი კლინიკაში"
      ></app-input>
    </div>
    <div class="input-group">
      <!-- <div class="input-group-item">
        <i class="fa fa-camera" style="font-size: 16px"></i>
      </div> -->
      <app-input
        class="consultation-input"
        name="group1"
        label3="ვიდეო კონსულტაცია"
      ></app-input>
    </div>
  </div>
</div>
