<div class="container">
  <p class="clinic-p">აირჩიე კლინიკა</p>
  <fieldset class="margin-bottom-sm">
    <legend>აირჩიე ქალაქი</legend>
    <select class="select-div" name="cars" id="cars">
      <option value="თბილისი">თბილისი</option>
      <option value="ქუთაისი">ქუთაისი</option>
      <option value="ბათუმი">ბათუმი</option>
      <option value="ზუგდიდი">ზუგდიდი</option>
    </select>
  </fieldset>
  <p class="choose-clinic">აირჩიე სასურველი კლინიკა</p>
  <input class="input-text" type="text" placeholder="კლინიკის ძიება" />
  <div class="flex">
    <div class="inner-flex">
      <div class="icon-div">
        <i class="fa fa-car" style="font-size: 16px"></i>
      </div>
      <div>
        <p class="title-p">კურაციო</p>
        <p class="desc-p">ოთარ ლორთქიფანიძის #31</p>
      </div>
    </div>
    <app-input name="group1" [applyClass]="true"></app-input>
  </div>
  <div class="flex">
    <div class="inner-flex">
      <div class="icon-div">
        <i class="fa fa-car" style="font-size: 16px"></i>
      </div>
      <div>
        <p class="title-p">ინგოროყვას საუნივერსიტეტო კლინიკა</p>
        <p class="desc-p">წინანდალის ნომერი 9</p>
      </div>
    </div>

    <app-input name="group1" [applyClass]="true"></app-input>
  </div>
  <div class="flex">
    <div class="inner-flex">
      <div class="icon-div">
        <i class="fa fa-car" style="font-size: 16px"></i>
      </div>
      <div>
        <p class="title-p">ევექსის ჰოსპიტალები</p>
        <p class="desc-p">ოთარ ლორთქიფანიძის #31</p>
      </div>
    </div>

    <app-input name="group1" [applyClass]="true"></app-input>
  </div>
</div>
