.container {
  margin: 0 auto;
  min-width: 260px;
  max-width: 360px;
}

.clinic-p {
  text-align: center;
  letter-spacing: 0.4px;
  font-size: 20px;
  font-weight: bold;
}

.select-div {
  width: 100%;
  border: none;
}

.clinic-p-2 {
  margin-top: 16px !important;
}

.margin-bottom-sm {
  margin-bottom: 12px;
}

.input-text {
  width: 100%;
  border: 1px solid grey;
  border-radius: 9px;
  padding: 2px 6px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid grey;
  margin-top: 16px;
  border-radius: 11px;
  padding: 6px 12px;
}
