<div class="position-relative">
  <mat-stepper [animationDuration]="'0'">
    <mat-step class="make-it-pink"> 
      <div>
        <button routerLink="/consultation" class="class-right" mat-button matStepperNext>
          გაგრძელება
        </button>
      </div>
    </mat-step>
    <mat-step class="make-it-pink">
      <div>
        <button routerLink="/" class="class-left" mat-button matStepperPrevious>
          <i class="fa fa-arrow-left" style="font-size: 16px"></i> უკან
        </button>

        <button routerLink="/doctor" class="class-right" mat-button matStepperNext>
          გაგრძელება
        </button>
      </div>
    </mat-step>
    <mat-step class="make-it-pink">
      <div>
        <button routerLink="/consultation" class="class-left" mat-button matStepperPrevious>
          <i class="fa fa-arrow-left" style="font-size: 16px"></i> უკან
        </button>
        <button routerLink="/clinic" class="class-right" mat-button matStepperNext>
          გაგრძელება
        </button>
      </div>
    </mat-step>
    <mat-step class="make-it-pink">
      <div>
        <button routerLink="/doctor" class="class-left" mat-button matStepperPrevious>
          <i class="fa fa-arrow-left" style="font-size: 16px"></i> უკან
        </button>
        <button routerLink="/calendar" class="class-right" mat-button matStepperNext>
          გაგრძელება
        </button>
      </div>
    </mat-step>
    <mat-step class="make-it-pink">
      <div>
        <button routerLink="clinic" class="class-left" mat-button matStepperPrevious>
          <i class="fa fa-arrow-left" style="font-size: 16px"></i> უკან
        </button>
        <button routerLink="/sumup" class="class-right" mat-button matStepperNext>
          გაგრძელება
        </button>
      </div>
    </mat-step>
    <mat-step class="make-it-pink">
      <div>
        <button routerLink="/calendar" class="class-left" mat-button matStepperPrevious>
          <i class="fa fa-arrow-left" style="font-size: 16px"></i> უკან
        </button>
      </div>
    </mat-step>
  </mat-stepper>
  <router-outlet></router-outlet>
</div>