.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.class-left {
  position: absolute;
  bottom: 0px;
  left: 40%;
}

.class-right {
  position: absolute;
  bottom: 0px;
  right: 40%;
}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none;
}