.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calendar-container button {
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  cursor: pointer;
}
.week-days {
  display: flex;
  justify-content: center;
  align-items: center;
}
.week-days div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
}
.week-days div.active {
  background-color: pink;
}
.day-name {
  font-weight: bold;
  border: none !important;
}
.day-date {
  margin-top: 5px;
  border: none !important;
}
/* Optional: If you want the arrows to be at the far right and left */
.container-with-arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.doctors {
  display: flex;
  justify-content: space-between;
}

.calendar-text {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.4px;
}

.calendar-container {
  display: flex;
  align-items: center;
}

.container-form-day {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar-day-month {
  padding: 2px 8px;
  border: 1px solid rgb(110, 108, 108);
  border-radius: 7px;
}

.small {
  border: none;
  width: 15px;
}

.fieldset-flex {
  display: flex;
  gap: 50px;
}

.input-none {
  border: none;
  border-bottom: 1px solid grey;
}

.clinic {
  max-width: 256px;
  width: 256px;
}

.clinic select {
  border: none;
}

.time-div {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.photo-clinic {
  display: flex;
}

.margin-top {
  margin-top: 20px;
}

.doctor-box {
  border: 1px solid grey;
  padding: 16px 32px;
  border-radius: 13px;
}