<div class="container">
  <div class="container-with-arrows">
    <button (click)="onPrevious()" [disabled]="weekDates[0] < currentDate">
      Previous
    </button>
    <div class="week-days">
      <div *ngFor="let date of weekDates" (click)="setActiveDate(date)" [class.active]="isDateActive(date)"
        (click)="onDateClicked(date)">
        <div class="day-name">{{ date | date: 'EEEE' }}</div>
        <div class="day-date">{{ date | date: 'd MMM' }}</div>
      </div>
    </div>
    <button (click)="onNext()">Next</button>
  </div>
  <div class="doctors">
    <fieldset>
      <legend>კლინიკა</legend>
      <select>
        <option value="სს კურაციო">სს კურაციო</option>
      </select>
    </fieldset>
    <fieldset>
      <legend>პირადი ექიმი</legend>
      <input type="text">
      <select>
        <option value=""></option>
        <option value="მარიამ ქრისტესაშვილი">მარიამ ქრისტესაშვილი</option>
        <option value="გიორგი თვალაძე ">გიორგი თვალაძე</option>
      </select>
    </fieldset>
    <fieldset>
      <legend>სპეციალობა</legend>
      <input type="text">
      <select>
        <option value=""></option>
        <option value="ოტორინოლარინგოლოგი">ოტორინოლარინგოლოგი</option>
        <option value="ოფთალმოლოგი">ოფთალმოლოგი</option>
      </select>
    </fieldset>
    <fieldset>
      <legend>ექიმი</legend>
      <input type="text">
      <select>
        <option value=""></option>
        <option value="ლანა ხორგუანი">ლანა ხორგუანი</option>
        <option value="იაგო აბზიანიძე">იაგო აბზიანიძე</option>
      </select>
    </fieldset>
  </div>
  @for (doctor of doctors; track doctor.id) {

  <div class="doctor-box">
    <img src="">
    <div>
      <div>
        <p>{{ doctor.name }}</p>
        <p>{{ doctor.clinic }}</p>
      </div>
      <p>{{doctor.description}}</p>
    </div>
  </div>
  <div>
    @for(each of doctor.time; track each) {
    <p>{{each}}</p>
    }
  </div>
  }
</div>