<form [formGroup]="doctorFormGroup" class="container">
  <p class="calendar-text">აირჩიე სასურველი დრო</p>
  <div class="container-form-day">
    <p style="cursor: pointer;" (click)="goBack()" class="calendar-day-month">
      დღეს - {{ todayWithMonth | date : "d MMM" }}
    </p>
    <div class="container-with-arrows">
      <button class="btn" (click)="onPrevious()" [disabled]="weekDates[0] <= currentDate">
        &#60;
      </button>
      <div class="week-days">
        <div *ngFor="let date of weekDates" (click)="setActiveDate(date)" [class.active]="isDateActive(date)">
          <div class="day-name">{{ date | date : "EEEE" }}</div>
          <div class="day-date">{{ date | date : "d MMM" }}</div>
        </div>
      </div>
      <button class="btn" (click)="onNext()">&#62;</button>
    </div>
  </div>
  <div class="doctors">
    <fieldset class="fieldset-flex clinic">
      <legend>კლინიკა</legend>
      <input [disabled]="disabledInput" class="input-none" [value]="defaultByUser" type="text" />
    </fieldset>
    <fieldset class="fieldset-flex">
      <legend>პირადი ექიმი</legend>
      <input class="input-none" type="text" [formControl]="personalDoctorFormControl" />
      <select class="small" #selectData3 (change)="inputData3(selectData3)">
        <option value=""></option>
        <option value="მარიამ ქრისტესაშვილი">მარიამ ქრისტესაშვილი</option>
        <option value="გიორგი თვალაძე">გიორგი თვალაძე</option>
      </select>
    </fieldset>
    <fieldset class="fieldset-flex">
      <legend>სპეციალობა</legend>
      <input ngDefaultControl [formControl]="specialtyFormcontrol" class="input-none" type="text" />
      <select #selectData (change)="inputData(selectData)" class="small">
        <option value=""></option>
        <option value="ოტორინოლარინგოლოგი">ოტორინოლარინგოლოგი</option>
        <option value="ოფთალმოლოგი">ოფთალმოლოგი</option>
      </select>
    </fieldset>
    <fieldset class="fieldset-flex">
      <legend>ექიმი</legend>
      <input ngDefaultControl [formControl]="doctorFormControl" class="input-none" type="text" />
      <select #selectData2 (change)="inputData2(selectData2)" class="small">
        <option value=""></option>
        <option value="ლანა ხორგუანი">ლანა ხორგუანი</option>
        <option value="გიორგი კალანდაძე">გიორგი კალანდაძე</option>
        <option value="იაგო აბზიანიძე">იაგო აბზიანიძე</option>
        <option value="ნინო აბუთიძე">ნინო აბუთიძე</option>
        <option value="ყველა">ყველა ექიმი</option>
      </select>
    </fieldset>
  </div>
  <p class="margin-top">სპეციალისტები</p>
  @if(showAllDoctors) {
  @for (doctors of allDoctors; track $index) {
  <div #eachbox class="eachBox">
    <div class="see-all"> 
      <button class="see-all-btn" (click)="toggleVisibility(eachbox)">ყველას ნახვა</button>
    </div>
    @for (doctor of doctors; track doctor.id) {

    <div class="doctor-box margin-top">
      <div class="photo-clinic">
        <img style="width: 42px; height: 42px"
          src="https://images.unsplash.com/photo-1559839734-2b71ea197ec2?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
        <div>
          <div class="doctor-info">
            <p class="doctor-name">{{ doctor.name }}</p>
            <p class="clinic-title">{{ doctor.clinic }}</p>
          </div>
          <p class="doctor-desc">{{ doctor.description }}</p>
        </div>
      </div>
      <div class="time-div">
        @for(each of doctor.time; track each) {
        <p #paragraph (click)="clickedOnTime(each, paragraph)" class="each-time">{{ each }}</p>
        }
      </div>
    </div>
    }
  </div>
  }
  }
  @if(!showAllDoctors){  
  @for (doctor of doctors; track doctor.id) {

  <div class="doctor-box margin-top kjtfytft">
    <div class="photo-clinic">
      <img style="width: 42px; height: 42px"
        src="https://images.unsplash.com/photo-1559839734-2b71ea197ec2?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
      <div>
        <div class="doctor-info">
          <p class="doctor-name">{{ doctor.name }}</p>
          <p class="clinic-title">{{ doctor.clinic }}</p>
        </div>
        <p class="doctor-desc">{{ doctor.description }}</p>
      </div>
    </div>
    <div class="time-div">
      @for(each of doctor.time; track each) {
      <p #paragraph (click)="clickedOnTime(each, paragraph)" class="each-time">{{ each }}</p>
      }
    </div>
  </div>
  }}
</form>