.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  margin: 0 auto;
  min-width: 260px;
  max-width: 360px;
}

.client-p {
  text-align: center;
  letter-spacing: 0.5px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
}

.width-150 {
  width: 150px;
  border: 1px solid grey;
  border-radius: 9px;
}
/* style="margin-top: 8px; width: 100%; padding: 4px 12px;" */
.ordinary-input {
  border: 1px solid grey;
  margin-top: 8px;
  width: 100%;
  border-radius: 9px;
  height: 42px;
  padding: 0 15px;
}

.choose-p {
  margin-top: 12px;
  min-width: 130px;
  opacity: 0.5;
}

.choose-bold {
  font-weight: 700;
}

.hr-div {
  background-color: gray;
  height: 2px;
  width: 100%;
  opacity: 0.5;
}

/* Kala has done this modifications */
fieldset {
  border: 1px solid #ccc;
  border-radius: 9px;
  margin: 0;
  box-sizing: border-box;
}
.fieldset-input {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

legend {
  opacity: 0.5;
}
.title {
  margin-top: 15px;
}
