<div class="container">
  <p class="client-p">ვისი ჩაწერა გსურს?</p>
  <form>
    <div class="flex">
      <app-input class="width-150" name="group1" label="ჩემთვის"></app-input>
      <app-input class="width-150" name="group1" label="სხვისთვის"></app-input>
    </div>
    <input class="ordinary-input" placeholder="მიუთითე პოლისის ნომერი" type="text" />
    <div class="flex">
      <p class="choose-p">ან აირჩიე სიიდან</p>
      <div class="hr-div"></div>
    </div>
    <p class="choose-bold">აირჩიე ვისი ჩაწერა გსურს</p>
    <app-input label2="OPPMED123512321" label="გიორგი ახვლედიანი" name="group2"></app-input>
    <app-input label2="OPPMED123512321" label="გიორგი ახვლედიანი" name="group2"></app-input>
  </form>
</div>
